.contact{
    width: 100%;
    height: 100%;
    background-color: $defBlue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding:30px;
    h1{
        font-size: 32px;
        color: $filler;
        font-family: $mainTypo;
        font-weight: 400;

    }
    p{
        font-size: 20px;
        color: $filler;
        font-family: $secTypo;
        font-weight: 300;
        margin-top: 10px;
    }
    button{
        @include button;
        background-color: $orange;
        border: 1px solid $orange;
        border-radius: 5px;
        margin-top: 20px;
        h5{
            font-size: 16px;
            font-weight: 400;
        }
    }
}